<div>
  <h3 class="text-center">Clubs</h3>
  <ul ng-init="get.Courses()">
    <li ng-repeat="course in db.courses track by $index">
      <p>COURSE_ID: <input type='text' ng-model='course.COURSE_ID' disabled></p>
      <p>CLUB_ID: <input type='text' ng-model='course.CLUB_ID' disabled></p>
      <p>COURSESEQ: <input type='text' ng-model='course.COURSESEQ' disabled></p>
      <p>Name: <input type='text' ng-model='course.NAME' disabled></p>
    <li>
  </ul>
</div>
