<div>
  <h3 class="text-center">Courses</h3>
  <div class="container">
    <div class="row">
      <ul ng-init="Courses()">
        <li ng-repeat="course in db.courses track by $index">
          <p><span class="col-xs-2">COURSE_ID:</span> <input class="col-xs-10" type='text' ng-model='course.COURSE_ID' disabled></p>
          <p><span class="col-xs-2">CLUB_ID:</span> <input class="col-xs-10" type='text' ng-model='course.CLUB_ID' disabled></p>
          <p><span class="col-xs-2">COURSESEQ:</span> <input class="col-xs-10" type='text' ng-model='course.COURSESEQ' disabled></p>
          <p><span class="col-xs-2">Name:</span> <input class="col-xs-10" type='text' ng-model='course.NAME' disabled></p>
        <li>
      </ul>
    </div>
  </div>
</div>
