<div>
  <h3>Holes</h3>
  <ul ng-init="get.Holes()">
    <li ng-repeat="hole in db.holes track by $index">
      <p>HOLE_ID: <input type='text' ng-model='hole.HOLE_ID' disabled></p>
      <p>COURSE_ID: <input type='text' ng-model='hole.COURSE_ID' disabled></p>
      <p>HOLENUM: <input type='text' ng-model='hole.HOLENUM' disabled></p>
      <p>PAR: <input type='text' ng-model='hole.PAR' disabled></p>
      <p>YARDS: <input type='text' ng-model='hole.YARDS' disabled></p>
      <p>HANDICAP: <input type='text' ng-model='hole.HANDICAP' disabled></p>
    <li>
  </ul>
</div>
