<div>
  <h3 class="text-center">Matchups</h3>
  <ul ng-init"Matchups()">
    <li ng-repeat="matchup in db.matchups track by $index">
      <p>MATCHUP_ID: <input type='text' ng-model='matchup.MATCHUP_ID' disabled></p>
      <p>WEEK_ID: <input type='text' ng-model='matchup.WEEK_ID' disabled></p>
      <p>TEAM1: <input type='text' ng-model='matchup.TEAM1' disabled></p>
      <p>TEAM2: <input type='text' ng-model='matchup.TEAM2' disabled></p>
      <p>TEAM1P1ROUND: <input type='text' ng-model='matchup.TEAM1P1ROUND' disabled></p>
      <p>TEAM1P2ROUND: <input type='text' ng-model='matchup.TEAM1P2ROUND' disabled></p>
      <p>TEAM2P1ROUND: <input type='text' ng-model='matchup.TEAM2P1ROUND' disabled></p>
      <p>TEAM2P2ROUND: <input type='text' ng-model='matchup.TEAM2P2ROUND' disabled></p>
    <li>
  </ul>
</div>
