<div class="navbar navbar-static-top navbar-default mynavbar">
  <div class="container">
    <a href="/" class="navbar-brand">Main</a>
    <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
      <span class="fa fa-th-list"></span>
    </button>
    <div class="collapse navbar-collapse navHeaderCollapse">
      <ul class="nav navbar-nav navbar-left">
        <li> <a href="/clubs" ng-click="Clubs()"><span class="fa fa-table"></span> Clubs </a> </li>
        <li> <a href="/courses" ng-click="Courses()"><span class="fa fa-table"></span> Courses </a> </li>
        <li> <a href="/holes" ng-click="Holes()"><span class="fa fa-table"></span> Holes </a> </li>
        <li> <a href="/matchups" ng-click="Matchups()"><span class="fa fa-table"></span> Matchups </a> </li>
        <li> <a href="/players" ng-click="Players()"><span class="fa fa-table"></span> Players </a> </li>
        <li> <a href="/rounds" ng-click="Rounds()"><span class="fa fa-table"></span> Rounds </a> </li>
        <li> <a href="/scores" ng-click="Scores()"><span class="fa fa-table"></span> Scores </a> </li>
        <li> <a href="/seasons" ng-click="Seasons()"><span class="fa fa-table"></span> Seasons </a> </li>
        <li> <a href="/teams" ng-click="Teams()"><span class="fa fa-table"></span> Teams </a> </li>
        <li> <a href="/weeks" ng-click="Weeks()"><span class="fa fa-table"></span> Weeks </a> </li>
      </ul>
      </ul>
    </div>
  </div>
</div>
