<div class="navbar navbar-static-top navbar-default mynavbar">
  <div class="container">
    <a href="/" class="navbar-brand">Main</a>
    <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
      <span class="fa fa-th-list"></span>
    </button>
    <div class="collapse navbar-collapse navHeaderCollapse">
      <ul class="nav navbar-nav navbar-left">
        <li> <a href="/clubs"><span class="fa fa-user"></span> Clubs </a> </li>
        <li> <a href="/courses"><span class="fa fa-user"></span> Courses </a> </li>
        <li> <a href="/holes"><span class="fa fa-user"></span> Holes </a> </li>
        <li> <a href="/matchups"><span class="fa fa-user"></span> Matchups </a> </li>
        <li> <a href="/players"><span class="fa fa-user"></span> players </a> </li>
        <li> <a href="/rounds"><span class="fa fa-user"></span> Rounds </a> </li>
        <li> <a href="/scores"><span class="fa fa-user"></span> Scores </a> </li>
        <li> <a href="/seasons"><span class="fa fa-user"></span> Seasons </a> </li>
        <li> <a href="/teams"><span class="fa fa-user"></span> Teams </a> </li>
        <li> <a href="/weeks"><span class="fa fa-user"></span> Weeks </a> </li>
      </ul>
      </ul>
    </div>
  </div>
</div>
