<div>
  <h3 class="text-center">Rounds</h3>
  <div class="container">
    <div class="row">
      <ul>
        <li ng-repeat="round in db.rounds track by $index">
          <p ng-show="!db.edit.rounds.index[$index]"><span class="col-xs-2">ROUND_ID:</span> <input class="col-xs-10" type='text' ng-model='round.ROUND_ID' disabled></p>
          <p ng-show="!db.edit.rounds.index[$index]"><span class="col-xs-2">PLAYER_ID:</span> <input class="col-xs-10" type='text' ng-model='round.PLAYER_ID' disabled></p>
          <p ng-show="!db.edit.rounds.index[$index]"><span class="col-xs-2">COURSE_ID:</span> <input class="col-xs-10" type='text' ng-model='round.COURSE_ID' disabled></p>
          <p ng-show="!db.edit.rounds.index[$index]"><span class="col-xs-2">ROUNDDATE:</span> <input class="col-xs-10" type='text' ng-model='round.ROUNDDATE' disabled></p>
          <p ng-show="db.edit.rounds.index[$index]"><span class="col-xs-2">ROUND_ID:</span> <input class="col-xs-10" type='text' ng-model='round.ROUND_ID'></p>
          <p ng-show="db.edit.rounds.index[$index]"><span class="col-xs-2">PLAYER_ID:</span> <input class="col-xs-10" type='text' ng-model='round.PLAYER_ID'></p>
          <p ng-show="db.edit.rounds.index[$index]"><span class="col-xs-2">COURSE_ID:</span> <input class="col-xs-10" type='text' ng-model='round.COURSE_ID'></p>
          <p ng-show="db.edit.rounds.index[$index]"><span class="col-xs-2">ROUNDDATE:</span> <input class="col-xs-10" type='text' ng-model='round.ROUNDDATE'></p>
          <button class="btn btn-default" ng-click="roundEdit($index, false)" ng-show="!db.edit.rounds.index[$index]">Edit</button>
          <button class="btn btn-success col-xs-2" ng-click="roundEdit($index, true)" ng-show="db.edit.rounds.index[$index]">Save Changes</button>
          <button class="btn btn-danger col-xs-2" ng-click="roundEdit($index, false)" ng-show="db.edit.rounds.index[$index]">Cancel</button><br>
        <li>
      </ul>
    </div>
  </div>
</div>
