<div>
  <h3 class="text-center">Seasons</h3>
  <ul ng-init="Seasons()">
    <li ng-repeat="season in db.seasons track by $index">
      <p>SEASON_ID: <input type='text' ng-model='season.SEASON_ID' disabled></p>
      <p>STARTDATE: <input type='text' ng-model='season.STARTDATE' disabled></p>
    <li>
  </ul>
</div>
