<div>
  <h3 class="text-center">Teams</h3>
  <div class="container">
    <div class="row">
      <ul ng-init="Teams()">
        <li ng-repeat="team in db.teams track by $index">
          <p><span class="col-xs-2">TEAM_ID:</span> <input class="col-xs-10" type='text' ng-model='team.TEAM_ID' disabled></p>
          <p><span class="col-xs-2">PLAYER1:</span> <input class="col-xs-10" type='text' ng-model='team.PLAYER1' disabled></p>
          <p><span class="col-xs-2">PLAYER2:</span> <input class="col-xs-10" type='text' ng-model='team.PLAYER2' disabled></p>
        <li>
      </ul>
    </div>
  </div>
</div>
