<div>
  <h3 class="text-center">Weeks</h3>
  <div class="container">
    <div class="row">
      <ul ng-init="Weeks()">
        <li ng-repeat="week in db.weeks track by $index">
          <p><span class="col-xs-2">WEEK_ID:</span> <input class="col-xs-10" type='text' ng-model='week.WEEK_ID' disabled></p>
          <p><span class="col-xs-2">SEASON_ID:</span> <input class="col-xs-10" type='text' ng-model='week.SEASON_ID' disabled></p>
          <p><span class="col-xs-2">COURSE_ID:</span> <input class="col-xs-10" type='text' ng-model='week.COURSE_ID' disabled></p>
          <p><span class="col-xs-2">WEEKNUM:</span> <input class="col-xs-10" type='text' ng-model='week.WEEKNUM' disabled></p>
        <li>
      </ul>
    </div>
  </div>
</div>
