<div>
  <h3 class="text-center">Weeks</h3>
  <ul ng-init="Weeks()">
    <li ng-repeat="week in db.weeks track by $index">
      <p>WEEK_ID: <input type='text' ng-model='week.WEEK_ID' disabled></p>
      <p>SEASON_ID: <input type='text' ng-model='week.SEASON_ID' disabled></p>
      <p>COURSE_ID: <input type='text' ng-model='week.COURSE_ID' disabled></p>
      <p>WEEKNUM: <input type='text' ng-model='week.WEEKNUM' disabled></p>
    <li>
  </ul>
</div>
